extends ../layouts/default

block content
  .container: .row
    article
      .post
        if data.page.image.exists
          .image-wrap: img(src=data.page._.image.fit(750,450)).img-responsive
        != data.page.content.body.html
